synuclein_inclusion_biogenesis_2024/image_analysis/bodipy/test_images/ADAMTS19_BODIPY_01.czi filter=lfs diff=lfs merge=lfs -text
synuclein_inclusion_biogenesis_2024/image_analysis/bodipy/test_images/SCR_BODIPY_01.czi filter=lfs diff=lfs merge=lfs -text
synuclein_inclusion_biogenesis_2024/image_analysis/bodipy/test_images/TAX1BP1_BODIPY_01.czi filter=lfs diff=lfs merge=lfs -text
